<div class="bg-primary d-flex">
  <div class="m-5 col-2">
  <h2>Your Best Friends</h2>
    <div class="icon">
      <span class="dot" style="background-color:#FF6053">
        <%= image_tag "icons8-dog-park-100.png", class:"image", alt: "dog image" %>
      </span>
      <div class= "d-flex justify-content-center pb-5">
        <%= link_to "Add a new Dog!", new_dog_path, class:"btn btn-success m-5", data: {} %>
      </div>
    </div>
  </div>
  <div class="card-container">
    <% @dogs.each do |dog|%>
      <div class="card w-75 bg-info">
        <div class="card-body">
          <h5 class="card-title"><%= dog.name %></h5>
          <p class="card-text"><%= dog.breed %></p>
          <img class="rounded-circle" src="https://placedog.net/100/100?random" width="100" height="100">
            <div class="d-flex justify-content-center">
              <%= link_to "Update Details", edit_dog_path(dog.id), class:"btn btn-warning", data: {} %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
