<div class="text-center"><h1>Add a dog</h1></div>

<div class="container py-5">
  <div class="row col-9 m-auto">
    <div class="frame col-7 offset-lg-3 shadow m-auto">
      <div class="rounded p-3 m-auto d-inline-blocks">
        <h3>Add a dog</h3>
        <%= simple_form_for [@user, @dog] do |f| %>
          <%= f.input :name, placeholder: "What is your dog's name?" %>
          <%= f.input :dog_size, placeholder: 'What is the size of your dog?' %>
          <%= f.input :diet, placeholder: "What is your dog's diet?" %>
          <%= f.input :breed, placeholder: "What is your dog's breed?" %>
          <%= f.input :desexed, as: :boolean, boolean_style: :inline, placeholder: "Is your dog disexed?" %>
          <%= f.input :vaccination_status, as: :boolean, boolean_style: :inline, placeholder: "Is your dog vaccinated?" %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
