<div class="bg-primary d-flex">
  <div class="m-5">
  <h2>Your Upcoming Bookings....</h2>
    <div class="icon">
      <span class="dot" style="background-color:#393E5B">
        <%= image_tag "icons8-dog-park-100.png", class:"image", alt: "dog image" %>
      </span>
    </div>
  </div>
  <div class="card-container">
    <% @bookings.each do |booking|%>
      <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title"><%= booking.booking_date %> at <%= booking.centre.name %></h5>
          <p class="card-text"><%= booking.dog.name %></p>
        <img src="https://placedog.net/100/100?random" width="100" height="100">
          <div class="d-flex ">
          <%= link_to "Cancel",
              booking_path(booking),
              method: :delete,
              class:"btn btn-primary",
              data: { confirm: "Are you sure?" } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
