<h2><%= @user.first_name%></h2>
<h2>USER ID<%= @user.id%></h2>
<h2><%= @user.last_name%></h2>


<div class="card">
  <div class="icon">
   <span class="dot" style="background-color:#393E5B"></span>
    <%= image_tag "icons8-dog-park-100.png", class:"image", alt: "dog image" %>
    </div><!--/icon-->
  <div class="title">DAYCARE</div>
  <div class="features">
    <p>
     Have you got a day care centre of home
were etc etc etc  got a day care centre of home
were etc etc etc got a day care centre of home
were etc etc etc
    </p>
  </div><!--/features-->
 <a href="#" class="btn">Doggy Day Care</a>
</div><!--/card-->

<div class="card">
  <div class="icon">
   <span class="dot" style="background-color: #FFA957"></span>
   <%= image_tag "icons8-guard-dog-100.png", class:"image", alt: "dog image" %>

   <span class="image" ></span>
    </div><!--/icon-->
  <div class="title">DOGS</div>
  <div class="features">
    <p>
     Have you got a day care centre of home
were etc etc etc  got a day care centre of home
were etc etc etc got a day care centre of home
were etc etc etc
    </p>
  </div><!--/features-->
 <a href="#" class="btn">Off to the kennel</a>
</div><!--/card-->
<div class="card">
  <div class="icon">
   <span class="dot" style="background-color: #FF6053"></span>
    <%= image_tag "icons8-pet-100.png", class:"image", alt: "dog image" %>
    </div><!--/icon-->
  <div class="title">BOOKINGS</div>
  <div class="features">
    <p>
     Have you got a day care centre of home
were etc etc etc  got a day care centre of home
were etc etc etc got a day care centre of home
were etc etc etc
    </p>
  </div><!--/features-->
 <a href="#" class="btn">Doggy Day Care</a>
</div><!--/card-->
