<div class="container-fluid bg-primary ">
  <div class="bg-primary d-flex">
    <div class="m-5">
      <div class="w-100">
      <h2 class="p-10">Daycares</h2>
        <div class="icon">
          </span>
          <% if user_signed_in? %>
              <%= link_to "Add your Daycare!", new_centre_path, class:"btn btn-success" %>
          <% end %>
        </div>
    </div>
  </div>
      <div class="card-container">
        <% @centres.each do |centre| %>
        <div class="card w-75 bg-info">
            <div class="card-body">
              <div class="display-4"><%= centre.name%></div>
              <p class="card-text"><%= centre.location%></p>
              <p>Our Day Care Can Have</p>
              <div class="d-flex justify-content-center"><script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
              <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_m3lpL4.json"  background="transparent" alignment="centre" speed="1"  style="width: 100px; height: 100px;"  loop  autoplay></lottie-player></div>
              <div class="d-flex justify-content-center"><%= centre.capacity%> Dogs!</div>
                <% if user_signed_in? %>
                <%= link_to "Book Now", centre_path(centre), class:"btn btn-success" %>
                <% else %>
                <%= link_to "Book Now", new_user_registration_path, class:"btn btn-success" %>
                <% end %>
              <div class="d-flex">
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
