<div class="container-fluid bg-primary ">
  <div class="bg-primary d-flex">
    <div class="m-5">
      <div class="card w-100">
      <h2 class="p-10">Daycares</h2>
        <div class="icon">
          <span class="dot ml-5" style="background-color:#393E5B">
            <%= image_tag "icons8-dog-park-100.png", class:"image", alt: "dog image" %>
          </span>
          <% if user_signed_in? %>
              <%= link_to "Add your Daycare!", new_centre_path, class:"btn btn-success" %>
          <% end %>
        </div>
    </div>
  </div>
      <div class="card-container">
        <% @centres.each do |centre| %>
        <div class="card w-75">
          <div class="card-body">
            <h5 class="card-title"><%= centre.name%></h5>
            <p class="card-text"><%= centre.location%></p>
            <div class="d-flex">
            <% if user_signed_in? %>
              <%= link_to "Book Now", centre_path(centre), class:"btn btn-success" %>
            <% else %>
              <%= link_to "Book Now", new_user_registration_path, class:"btn btn-success" %>
            <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
