

<h2><%= @centre.name %></h2>

<div class="container-fluid bg-primary ">
  <h2><%= @centre.name %></h2>


<div class="d-flex align-items-start flex-column" style="height: 200px;">
  <div class="mb-auto p-2"></div>
  <div class="p-2"></div>
  <div class="p-2"></div>
</div>

<%= simple_form_for([@centre, @booking]) do |f| %>
  <%= f.association :dog, collection: Dog.where(user: current_user) %>
  <%= f.input :booking_date, as: :string, input_html:{id: 'flatpickr'} %>
  <%= f.submit %>
<% end %>


</div>
