
<div class="container-fluid bg-primary ">
<div class="bg-primary d-flex">
  <h2><%= @centre.name %></h2>
  <div class="m-5">
    <div class="icon">
      <span class="dot" style="background-color:#393E5B">
        <%= image_tag "icons8-dog-park-100.png", class:"image", alt: "dog image" %>
      </span>
    </div>
  </div>


<%= simple_form_for([@centre, @booking]) do |f| %>
  <%= f.association :dog, collection: Dog.where(user: current_user) %>
  <%= f.input :booking_date, as: :string, input_html:{id: 'flatpickr'} %>
  <%= f.submit %>
<% end %>
</div>


</div>
