<div class="container-fluid bg-info" style="padding-top: 40px; padding-bottom: 40px; margin-right: 40px; margin-top: 40px;">
  <div class="row">
    <div class="col-sm d-flex justify-content-center">
      <div class="card-container">
        <div class="card w-75 bg-success">
          <div class="card-body">
           <div class="display-4"><%= @centre.name%></div>
            <p class="card-text"><%= @centre.location%></p>
            <p>Our Day Care Can Have <%= @centre.capacity%> Dogs</p>
            <div class="d-flex justify-content-center"><script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_m3lpL4.json"  background="transparent" alignment="centre" speed="1"  style="width: 100px; height: 100px;"  loop  autoplay></lottie-player></div>
          </div>
        </div>
      </div>
    </div>
    <div class="icon col-sm d-flex justify-content-center">
      <% if user_signed_in? %>
      <div class="col-5 d-flex justify-content-center">
        <%= simple_form_for([@centre, @booking]) do |f| %>
          <%= f.association :dog, collection: Dog.where(user: current_user) %>
          <%= f.input :booking_date, as: :string, input_html:{id: 'flatpickr'} %>
          <%= f.submit :Submit, class: 'btn btn-success'%>
          <% end %>
      </div>
      <% else %>
      <div>
        <%= link_to "Join Today",
                  new_user_registration_path,
                  class:"btn-success btn",
                  data: {}
                  %>
        </div>
        <%end%>

      <span class="dot" style="background-color:#393E5B">
          <%= image_tag "icons8-pet-100.png", class:"image", alt: "dog image" %>
      </span>
    </div>
  </div>

  <div class="container p3">
    <div class="row">
      <div class="col">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#qrShareWithFriendsModal">
          Share with Friends
        </button>

      </div>
      <div class="col">

      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="qrShareWithFriendsModal" tabindex="-1" role="dialog" aria-labelledby="qrShareWithFriendsModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Share with Friends</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="qr">
          <%= @qr_svg.html_safe %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
